{% trans_default_domain 'account.status' %}

{% if status == 'act' %}
	<div class="badge badge-light-success">
		{{ 'ACTIVE'|trans }}
	</div>
{% elseif status == 'new' %}
	<div class="badge badge-light-info">
		{{ 'NEW'|trans }}
	</div>
{% elseif status == 'unc' %}
	<div class="badge badge-light-info">
		{{ 'UNCONFIRMED'|trans }}
	</div>
{% elseif status == 'ban' %}
	<div class="badge badge-light-danger">
		{{ 'BLOCK'|trans }}
	</div>
{% endif %}
