{% trans_default_domain 'admin.account' %}

<thead class="mb-5">
<tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">

	<th class="w-25px"></th>

	{# Чекбокс #}
	<th class="w-25px pe-2">
		<div class="form-check form-check-sm form-check-custom pb-5">
			<label>
				<input class="form-check-input" type="checkbox" onchange="checkedAll(this)" value="1">
			</label>
		</div>
	</th>

	Состояние 	E-mail пользователя 	Дата изменения 	Режим пользователя

	<th class="pb-5 ps-5">
		{# Состояние #}
		Состояние
	</th>

	<th class="w-100 pb-5 ps-5 text-start">
		{# Название #}
		{{ 'admin.user.column.name'|trans }}
	</th>

	<th class="pb-5 ps-5 text-nowrap">
		{# Дата изменения #}
		{{ 'admin.user.column.date'|trans }}
	</th>

	{% if is_granted('ROLE_ADMIN') %}
		<th class="pb-5 ps-5 text-nowrap">
			{# Режим пользователя #}
			{{ 'admin.user.column.switch'|trans }}
		</th>
	{% endif %}

</tr>
</thead>

